{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Search</h1>

    <form action="/course" method="POST">
        <select name="content" required>
            <option value="" disabled selected>Select Course</option>
            {% for course in course_in %}
            <option value="{{course['Course_title']}}">{{course['Course_title']}}</option>
            {% endfor %}
        </select>
        <br />
        <button type="submit">SUBMIT</button>
    </form>

</div>
{% endblock %}